{% extends "DJEats/base.html" %}
{% load static %}

{% block head %}
<!-- Loads CSS For home.html -->
<link rel="stylesheet" type="text/css" href="{% static 'DJEats/home.css' %}">
{% endblock head %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron bg-dark text-white mt-4 text-center">
    <h1 class="display-4">DJEats in {{location}}</h1>
    <hr class="my-4">
    <p class="lead">Check out the top trending restaurants in {{location}}</p>
    </p>
</div>

<!-- Cards -->
<div class="container pt-4">
    <div class="card-deck">
        {% for restaurant in restaurants %}
        <div class="card bg-dark text-white mb-5" style="width: 15rem;">
            <img class="card-img-top" src={{restaurant.image}} alt="Card image caption">
            <div class="card-body">
                <h5 class="card-title">{{restaurant.name}}</h5>
                <p class="card-subtitle text-muted">{{restaurant.locality}}</p>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text">
                    {{restaurant.cost}} for two
                    <a href="http://127.0.0.1:8000/details/{{restaurant.id}}" class="card-link">See Details</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}