{% extends "DJEats/base.html" %}
{% block content %}
<div class="row">
    {% for restaurant in restaurants %}
    <div class="col" >
        <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 20rem">
            <img class="card-img-top" src={{ restaurant.image }} alt="Card image cap" style="width: 18rem; height: 10rem">
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ restaurant.locality }}</h6>

            </div>
            <div class="card-footer text-muted" align="center">
                {{ restaurant.cost }} for two
                <a href="#" class="btn btn-info">See Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
