body
{
    background-color: #efefef !important;
}
.single-blog
{
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2); 
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.blog-meta
{
    font-size: 14px;
    margin-bottom: 2px;
}
.single-blog span
{
    float: right;
    font-size: 12px;
    color: cornflowerblue;
}