{% extends "DJEats/base.html" %}
{% load static %}

{% block head %}
<!-- Loads CSS For home.html -->
<link rel="stylesheet" type="text/css" href="{% static 'DJEats/test.css' %}">
{% endblock head %}

{% block content %}
{% if is_restaurant %}

<div class="container-fluid gedf-wrapper">
    <div class="row">

        <!-- Left Side Bar -->
        <div class="col-md-3">
            <div class="card gedf-card bg-dark text-white">
                <div class="card-header">
                    <div class="h5">Information</div>
                </div>
                <div class="card-body">
                    <div class="h6 text-muted">Address</div>
                    <div class="card-title">{{restaurant.address}}</div>
                    <hr>
                    <div class="h6 text-muted">Cuisines</div>
                    <div class="card-title">{{restaurant.cuisines}}</div>
                </div>
                <div class="card-footer text-muted">
                    <a id="bookOnZomato" class="card-link" href="#">Book on Zomato</a>
                </div>
            </div>

            <!-- Google static map -->
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <div class="h6">Google Maps</div>
                </div>
                <img class="card-img" src={{static_map_url}}>
            </div>
        </div>

        <!-- Center feed -->
        <div class="col-md-6 gedf-main">

            <!-- Restaurant Jumbotron -->
            <div class="jumbotron bg-dark text-white text-center">
                <h1 class="display-4">{{restaurant.name}}</h1>
                <hr class="my-4">
                <p class="lead">{{restaurant.locality}}</p>
            </div>

            <!-- Restaurant Image -->
            <div class="card bg-dark text-white gedf-card">
                <img class="card-img" src={{restaurant.featured_image}} alt="Card image">
            </div>

            <!-- Review Header -->
            <div class="card gedf-card bg-dark text-white text-center">
                <div class="card-body">
                    <h5 class="card-title">Reviews</h5>
                </div>
            </div>

            <!-- Reviews start -->
            {% for review in reviews %}
            <div class="card gedf-card bg-dark text-white">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src={{review.profile_image}} alt="Profile Image">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">{{review.user_name}}</div>
                                <div class="h7 text-muted">{{review.foodie_level}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{review.timestamp}}</div>
                    <a class="card-link" href="#">
                        <h5 class="card-title" style="color: #{{review.rating_color}}">{{review.rating_text}}</h5>
                    </a>

                    <p class="card-text">{{review.review_text}}</p>
                </div>
            </div>
            {% endfor %}
            <!-- Reviews end -->

            <!-- Right Side Bar -->
        </div>
        <div class="col-md-3">

            <!-- Ratings -->
            <div class="card gedf-card bg-dark text-white">
                <div class="card-header">
                    <div class="h5">Rating</div>
                </div>
                <div class="card-body">
                    <div class="h6 text-muted">Average Rating</div>
                    <div class="h6" style="color: #{{restaurant.rating_color}}">{{restaurant.avg_rating}}%</div>
                    <hr>
                    <div class="h6 text-muted">Average Review</div>
                    <div class="h6" style="color: #{{restaurant.rating_color}}">{{restaurant.avg_review}}</div>
                </div>
                <div class="card-footer text-muted">
                    No of votes: {{restaurant.no_of_votes}}
                </div>
            </div>

            <!-- Details -->
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <div class="h5">Details</div>
                </div>
                <div class="card-body">
                    <div class="h6 text-muted">Average cost for two</div>
                    <div class="h6">{{restaurant.avg_cost_for_two}}</div>
                    <hr>
                    <div class="h6 text-muted">Online Delivery</div>
                    <div class="h6">{{restaurant.has_online_delivery}}</div>
                    <hr>
                    <div class="h6 text-muted">Reservation</div>
                    <div class="h6">{{restaurant.has_reservation}}</div>
                    <hr>
                    <div class="h6 text-muted">BOGO Offers</div>
                    <div class="h6">{{restaurant.has_bogo_offers}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

{% else %}
<div class="container">
    <div class="invalid-header">
        <h3 class="text-white" style="text-align: center">Invalid Restaurant</h3>
    </div>
</div>
{% endif %}

{% endblock content %}