body {
    background-color: #232323 !important;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-card {
        margin-bottom: 2rem;
    }
}
/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}