body {
    background-color: #232323 !important;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.gedf-card {
    padding: 0%
}

@media (min-width: 992px) {
    .gedf-card {
        margin-bottom: 2rem;
    }
}
/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.invalid-header {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}